<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Tests">
    <listeners>
        <listener class-name="listener.AllureListener"></listener>
    </listeners>
 <test name="TD tests">
     <parameter name="Device" value="GalaxyS9"/>

     <classes>
   <class name="test.AmazonSearchTest"/>
  </classes>
 </test>
</suite>
